<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916329645524-44icp018hk5saur3o6jedjsraoei4c3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916329645524-44icp018hk5saur3o6jedjsraoei4c3f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916329645524-gjnq4vve6jm0rmriovcg33b762ff8rd1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAepzxX-VZa38SHhkCj8jH197XvU9b62qY</string>
	<key>GCM_SENDER_ID</key>
	<string>916329645524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techavtra.mergoapp</string>
	<key>PROJECT_ID</key>
	<string>mergo-ef31e</string>
	<key>STORAGE_BUCKET</key>
	<string>mergo-ef31e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916329645524:ios:0555495f35ca55f8f58241</string>
</dict>
</plist>