<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>aps-environment</key>
    <string>production</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera access is used for login verification.</string>
    <key>NSMotionUsageDescription</key>
    <string>Motion data is used to ensure secure login.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.916329645524-44icp018hk5saur3o6jedjsraoei4c3f</string>
            </array>
        </dict>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>FirebaseMessagingAutoInitEnabled</key>
    <false/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>google.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
            <key>gstatic.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
        </dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>UIAppFonts</key>
    <array>
        <string>Outfit-Light.ttf</string>
        <string>RedHatText-Bold.ttf</string>
		<string>RedHatText-Light.ttf</string>
		<string>RedHatText-Medium.ttf</string>
		<string>RedHatText-Regular.ttf</string>
		<string>RedHatText-SemiBold.ttf</string>
		<string>Fontspring-DEMO-modica-black.otf</string>
		<string>Fontspring-DEMO-modica-blackitalic.otf</string>
		<string>Fontspring-DEMO-modica-bold.otf</string>
		<string>Fontspring-DEMO-modica-bolditalic.otf</string>
		<string>Fontspring-DEMO-modica-hairline.otf</string>
		<string>Fontspring-DEMO-modica-italic.otf</string>
		<string>Fontspring-DEMO-modica-light.otf</string>
		<string>Fontspring-DEMO-modica-lightitalic.otf</string>
		<string>Fontspring-DEMO-modica-medium.otf</string>
		<string>Fontspring-DEMO-modica-mediumitalic.otf</string>
		<string>Fontspring-DEMO-modica-regular.otf</string>
		<string>Fontspring-DEMO-modica-semibold.otf</string>
		<string>Fontspring-DEMO-modica-semibolditalic.otf</string>
		<string>Fontspring-DEMO-modica-thin.otf</string>
		<string>Fontspring-DEMO-modica-thinitalic.otf</string>
		<string>Fontspring-DEMO-modica-ultra.otf</string>
		<string>Fontspring-DEMO-modica-ultraitalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
